.bloger__massage {
	&-row {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.fade {
	&-enter-active, &-leave-active {
		transition: opacity .4s;
	}

	&-enter, &-leave-to {
		opacity: 0;
	}
}

.slide-up-down {
	&-enter-active {
		transition-duration: .35s;
		transition-timing-function: ease-in;
	}

	&-leave-active {
		transition-duration: .35s;
		transition-timing-function: ease;
	}

	&-enter-to, &-leave {
		overflow: hidden;
		max-height: 1000px;
	}

	&-enter, &-leave-to {
		overflow: hidden;
		max-height: 0;
	}
}

.side-slide {
	&-enter-active {
		transition-duration: .25s;
	}

	&-leave-active {
		transition-duration: .25s;
	}

	&-enter-to, &-leave {
		overflow: hidden;
		transform: translateX(0);
	}

	&-enter, &-leave-to {
		overflow: hidden;
		transform: translateX(25%);
		opacity: 0;
	}
}


.red {
	color: #ff0000;
}

.secondary {
	color: #BEBEBE;
}

.cursor {
	cursor: pointer;
}

.profile__notifications {
	cursor: pointer;
}

.empty-result-text {
	margin: 50px 0;
	text-align: center;
}

.reset-filters-link {
	margin-left: 15px;
	line-height: 30px;
	font-size: 14px;
	transition: color .2s;

	&:hover {
		color: lighten(#007bff, 17);
	}
}

.main {
	&__body-details {
		overflow: inherit;
	}
	&__vue-select {
		& .vs__search::placeholder,
		& .vs__dropdown-toggle,
		& .vs__dropdown-menu {
			font-size: 14px;
		}

		& .vs__search::placeholder,
		& .vs__dropdown-toggle {
			border: 1px solid #061a62;
			border-radius: 15px;
			padding: 2px 5px 6px;
		}

		& .vs__dropdown-option {
			padding-left: 15px;
		}

		& .vs__dropdown-option--selected {
			background-color: lighten(#5897fb, 30);
			color: inherit;
			cursor: default;
		}

		&--region {
			& .vs__search::placeholder,
			& .vs__dropdown-toggle,
			& .vs__dropdown-menu {
				font-size: 13px;
			}

			& .vs__dropdown-option--disabled {
				background: #ededed;
				color: black;
				font-family: "Montserrat-Bold", sans-serif;
				font-size: 14.5px;
			}

			& .vs__dropdown-option {
				padding-left: 12px;
			}
		}
	}

	&__sort-vue-select {
		margin-left: 15px;
		min-width: 300px;
	}
}

.profile__contant {
	display: block;
}
